// // Font
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

$bg-color: #76b3a6;
$lightdark: #8cd6c6;
$dark: #2a6155;
$nav: #76b3a6;
.demo {
  position: fixed;
  right: 0;
  bottom: 0;
  user-select: none;
  margin: 20px;
  color: #2a6155;
  right: 20px;
  bottom: 20px;
}
.CatItem {
  max-width: 500px;
  height: 100px;
  width: 90vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted $dark; 
  border-radius: 10px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.86);
  user-select: none;
  cursor: pointer;
  .handle {
    fill: $dark;
    outline: none;
    width: 30px;
    height: 30px;
  }
  .content {
    letter-spacing: 2.5px;
    outline: none;
    flex: 1;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: $dark;
  }
}
.logout {
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  cursor: pointer;
  padding: 20px;
}
.catlist {
  padding-top: 15px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  color: #8b8b8b;
}
.TaskGroup {
  width: 311px;
  height: 85vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 15px 0px 0px 10px;
  user-select: none;
  position: relative;

  .title {
    border: 2px solid white;
    // background: #ffffff8a;
    width: 307px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 -1px 0;
    border-radius: 10px 10px 0px 0px;
    .groupName {
      outline: none;
      width: 255px;
      color: white;
      .groupNameText {
        font-size: 1rem;
        letter-spacing: 2px;
      }
      .titleInput {
        color: $dark;
        outline: none;
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        width: 100%;
      }
    }
    .iconPanel {
      width: 30px;
      display: flex;
      .icon {
        cursor: pointer;
        flex: 1;
        width: 20px;
        height: 15px;
      }
    }
  }
  .content {
    flex: 1;
    justify-content: center;
    display: flex;
  }
  .TaskPanel {
    flex: 1;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background: #efefef;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .TaskPanel::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
  }
}
.GroupPanel {
  flex: 1;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  color: $dark;
}
div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
.TaskItem {
  background: #ffffff;
  overflow: hidden;
  outline: none;
  width: 311px;
  margin: 0 0 -1px 0;
  border-top: 1px solid $bg-color;
  .s1 {
    width: 311px;
    height: 86px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .handle {
      height: 10px;
    }
    .content {
      flex: 1;
      display: flex;
      align-items: center;
      .checkBox {
        display: flex;
        box-sizing: border-box;
        cursor: pointer;
        width: 60px;
        height: 60px;
        .icon {
          display: block;
          margin: auto;
        }
      }
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        cursor: pointer;
        .react-datepicker-wrapper {
          position: absolute;
        }
        .thedate {
          font-size: 12px;
          padding-top: 5px;
        }
      }
      .detailBox {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center; 
        svg {
          fill: $dark;
          width: 12px;
          height: 40px;
        }
      }
    }
  }
  .s2 {
    margin-top: -5px;
    height: 0;
    box-sizing: border-box;
    box-shadow: inset 0 4px 8px -6px $dark;

    .detail {
      white-space: pre;
      word-wrap: break-word;
      overflow: auto;
      // width: 260px;
      padding-left: 65px;
      padding-top: 10px;
      // max-height: 31/40 * 100%;
      // margin: 20px 20px 25px 20px;
    }
  }
}
.bg {
  position: absolute;
  z-index: -1;
}
.TaskAdd {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  .modal {
    background-color: #76b3a6;
    border-radius: 25px;
    max-width: 500px;
    margin: 0px auto;
    padding: 10px 10px 15px 10px;
    border: 2px solid $dark;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .header {
      .iconButton {
        fill: white;
        width: 30px;
        height: 30px;
      }
      display: flex;
      justify-content: space-between;
      .datePanel {
        display: flex;
        .dateText {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-family: sans-serif;
        }
      }
    }
    .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      input {
        color: $dark;
        outline: none;
        padding: 10px;
        font-size: 1.5rem;
        border-radius: 5px;
        border: 3px solid $dark;
      }
      textarea {
        color: $dark;
        outline: none;
        font-size: 1.5rem;
        border-radius: 5px;
        border: 3px solid $dark;
        width: 100%;
        flex: 1;
        margin: 5px 0;
        padding: 3px;
        box-sizing: border-box;
        resize: none;
        height: 0;
        opacity: 0;
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      height: 60px;
      align-items: center;
      .iconButton {
        margin: 0 50px;
        &.cross {
          fill: $dark; 
        }
        &.circle {
          stroke: $dark;
        }
      }
    }
  }
}
.index {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.head {
  height: 50px;
  color: #ffffff;
  background: $nav;
  display: flex;
  .text {
    margin: auto 30px;
    user-select: none;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  .titleInput {
    color: $dark;
    outline: none;
    font-size: 1.5rem;
    margin-left: 30px;
    border: none;
    border-radius: 8px;
    margin: 5px 5px 5px 30px;
    padding: 5px;
  }
}
body {
  background: $bg-color;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}
html,
body {
  overflow: hidden;
}
.iconButton {
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
  fill: #ffffff;
  &.right {
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 0;
  }
  &.center {
    position: sticky;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }
  &.centerRight {
    position: sticky;
    top: 0;
    left: 70%;
    transform: translateX(-50%);
    margin-left: 0;
  }
  &.text {
    width: auto;
  }
}

.hiddenItem {
  display: none;
}

@import "react-datepicker";
//contextmenu
.react-contextmenu {
  background-color: white;
  background-clip: padding-box;
  border: 2px solid $dark;
  box-sizing: border-box;
  border-radius: 5px;
  color: $dark;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 80px;
  outline: none;
  opacity: 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  outline: none;
  background: 0 0;
  border: 0;
  color: $dark;
  cursor: pointer;
  font-weight: 400;
  line-height: 3;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  background: $dark;
  color: white;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: $dark;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}
.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}
